apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: mindxprobationarc.azurecr.io/api:v11
          env:
            - name: CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: api-secrets
                  key: CLIENT_SECRET
            - name: APP_INSIGHTS_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: api-secrets
                  key: APP_INSIGHTS_CONNECTION_STRING
            - name: REDIRECT_URI
              value: "https://mindx-devtunglam.52.234.236.158.nip.io/api/auth/callback"
            - name: FRONTEND_CALLBACK_URL
              value: "https://mindx-devtunglam.52.234.236.158.nip.io/login/callback"
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
      imagePullSecrets:
        - name: acr-secret
